//
//  Keys.example.xcconfig
//  Marvel Characters
//
//  Created by Daniel Illescas Romero on 19/11/20.
//

// Copy the contents of this file to a new one named "Keys.xcconfig" and use the correct api keys.
// OR simply use the script "set_up_keys.sh"

MARVEL_PUBLIC_API_KEY = "INVALID"
MARVEL_PRIVATE_API_KEY = "INVALID"
